@page
@model IndexModel

@{
    ViewData["Title"] = "Notification Page";
}

<!DOCTYPE html>
<html>
    <head></head>
    <body>
       <div class="containerEl">
        <div id="notificationContainer" class="container-75 bg-light p-5">
            <div class="row">
                <div class="col row">
                    <p class="col">Notification <span>3</span></p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p>Mark All as read</p>
                </div>
            </div>
        </div>
       </div>

    <script src="./js/site.js"></script>
    </body>
</html>


